<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" #userform="ngForm" (ngSubmit)="OnSubmit(userform)">
                            <h3 class="text-center text-info">Register As Admin</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input class="input100 form-control" type="text" required [class.is-invalid]="name.invalid && name.touched " required #name="ngModel" [(ngModel)]="userModel.userName" name="name" >
                              </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Email:</label><br>
                                <input
                                class="input100 form-control"
                                 type="email" 
                                 name="email"
                                 required
                                  pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                                   [class.is-invalid]="email.invalid && email.touched"
                                   #email="ngModel" [(ngModel)]="userModel.email">                            </div>
                            <div class="form-group">
                              <label for="password" class="text-info">Phone:</label><br>
                              <input class="input100 form-control" type="text" required [class.is-invalid]="phone.invalid && phone.touched " required #phone="ngModel" [(ngModel)]="userModel.Phone" name="phone" >
                            </div>
                          <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input 
                            class="input100 form-control"
                             type="password"
                              [class.is-invalid]="password.invalid && password.touched "
                               required #password="ngModel" [(ngModel)]="userModel.password" name="password">                        </div>
                        <div class="form-group">
                          <label for="password" class="text-info">ConfirmPassword:</label><br>
                          <input 
                          class="input100 form-control"
                          type="password" 
                          [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched " 
                          required #confirmpassword="ngModel" [(ngModel)]="userModel.confirmpassword" name="confirmpassword">                      
                        </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"> <h6>Have Acount? <a routerLink="/login"  style="margin-bottom:50px; margin-top:20px">Sing in</a></h6>
                                </label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
